
.game{
    width: 100%;
    /* height: 320px; */
    border-bottom: 5px solid black;
    /* background-image: url(images/ground.png);
    background-size: 100px 100px; */
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}
#dino{
    width: 87px;
    height: 90px;
    background-image: url(images/dragon.png);
    background-size: 100px 100px;
    position: relative;
    top: 138px;
    
}
#cactus{
    width: 70px;
    height: 64px;
    position: relative;
    top: 73px;
    left: 1000px;
    background-image:url(images/cactus1.png);
    background-size: 60px 60px;
    
}
.cactus-move{
    animation: obstcle 1.5s infinite linear;
}
@keyframes obstcle{
    0%{
        left: 1100px;
    }
    100%{
        left: 0px;
    }
}
.jump{
    animation: jump 0.2s linear;
}
@keyframes jump{
   from{
  top:0px;
   }
   to{
    top: 72px;
   }
}
#strt-btn{
    border: 1px solid black;
    border-radius: 5px;
    background-color: skyblue;
    color: black;
    font-size: 17px;
    
    
}
#button{
    width: 600px;
    height: 200px;
    margin: auto; 
  
    display: flex;
    align-items: center;
    justify-content: center;
}
#game-over{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:red;
    background-color: aqua;
}
#score{
      position: absolute;
      top: 3em;
      left: 36%;
      font-size: 30px;
      color: lightseagreen;

}
/* Model starts here */
.modal {
    display:none;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    /* width: 20%; */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s

  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    text-align: center;
  }
  
  .modal-body {    padding: 2px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  .input{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .btn-btn{
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
}
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  /* Model ends */


  /* This is css for google sign in button and all */
  *{
    color: brown;
    background-color: antiquewhite;
}
.container{
    border: 5px groove floralwhite;
    width: 300px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;

}
.main{
 
    width: 300px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
#login-register{
    font-size: large;
background: coral;
border: none;
color: white;
}
.play-as-guest{
    font-size: larger;
background-color: black;
color: wheat;
margin-top: 5px;
}
/* Start below css belong to user profile cart on game page */
.containerData{
  display: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid limegreen;
  border-radius: 12px;
  width: 16.5em;
  position:absolute;
  left: 60em;
  top: 1.5em;
}
.profileData{
  display: flex;
  align-items:center;
  flex-direction: column;
  
}
.name-email{
  display: flex;
flex-direction: column;
}
.name-email p{
  margin: 0.1em;
  color: darkblue;
  font-size:1 em;
}
.highest{
  display: flex;
}
.highest h3{
  color: darkcyan;
}
#logout{
  display: none;
  font-size: 20px;
  border: none;
  color: aquamarine;
  background-color: darkslateblue;
border-radius: 7px;
margin-bottom: 0.3em;
}
/*Stop below css belong to user profile cart on game page  */