

body{
  
  background-image:url("images/wall.jpeg");
  background-repeat: round;
  overflow: hidden;
  user-select: none;
}
.grayscale { filter: grayscale(100%); }
.game{
  position: absolute;
  /* top: -5px; */
  bottom: 253px;
    width: 100%;
    /* height: 320px; */
    border-bottom: 0.1px solid black;
    /* background-image: url(images/ground.png);
    background-size: 100px 100px; */
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 410px;
}
#dino{
    width: 100px;
    height: 90px;
    background-image: url(images/dragon.png);
    background-size: 125px 114px;
    position: relative;
    top: 192px;
    
}
.theme-dog{
  z-index: 9000;
    position: absolute;
    bottom: -67px;
    right: -75px;
}
.game-img{
  width: 100%;
    object-fit: cover;
    margin-top: -220px;
}
#cactus{
    width: 70px;
    height: 64px;
    position: relative;
    top: 128px;
    left: 1000px;
    background-image:url(images/cactus1.png);
    background-size: 60px 60px;
    
}
.cactus-move{
    animation: obstcle 1.5s infinite linear;
}
@keyframes obstcle{
    0%{
        left: 1100px;
    }
    100%{
        left: 0px;
    }
}
.jump{
    animation: jump 0.2s linear;
}
@keyframes jump{
   from{
  top:0px;
   }
   to{
    top: 72px;
   }
}
#strt-btn{
    border: 1px solid black;
    border-radius: 5px;
    background-color: skyblue;
    color: black;
    font-size: 17px;
    
    
}
#button{
    width: 600px;
    height: 200px;
    margin: auto; 
  
    display: flex;
    align-items: center;
    justify-content: center;
}
#game-over{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    background-color: white;
    display: none;
    font-size: 50px;
    border-radius: 10px;
    position: absolute;
    top: 441px;
    left: 327px;
    font-weight: bold;
}
#score{
      position: absolute;
      top: 3em;
      left: 37%;
      font-size: 30px;
      background: white;
    padding: 16px 32px 16px 32px;
    border-radius: 42px;
    color: black;
    font-size: 23px;

}
/* Model starts here */
.modal {
    display:none;
    justify-content: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    /* width: 20%; */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s

  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    text-align: center;
  }
  
  .modal-body {    padding: 2px 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  .input{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .btn-btn{
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
}
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  /* Model ends */


  /* This is css for google sign in button and all */
  *{
    color: black;
    
}
.container{
    border: 5px groove floralwhite;
    width: 300px;
    position: relative;
    margin: auto;
    display: flex;
    gap:2px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 120px;

}
.main{
    width: 300px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    
}
#login-register{
  border: 1px solid black;
  padding: 20px;
  border-radius: 12px;
  font-size: larger;
  font-weight: bold;
}
.play-as-guest{
  background-color: black;
color: wheat;
margin-top: 5px;
    font-size: larger;
    border: 1px solid black;
    padding: 20px;
    border-radius: 12px;
    font-weight: bold;
    background-color: lightsteelblue;
}
/* Start below css belong to user profile cart on game page */
.containerData{
  display: none;
  flex-direction: column;
  align-items: center;
  border: 1px solid limegreen;
  border-radius: 12px;
  width: 16.5em;
  position:absolute;
  right: 0;
  top: 4.5em;
  position: absolute;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
background-color:white;
height: 271px;
width:262px;
}
.profileData{
  display: flex;
  align-items:center;
  flex-direction: column;
  
}
.name-email{
  display: flex;
flex-direction: column;
color: black;
    font-size: 20px;
}
.name-email p{
  color: white;

font-weight: bold;
  font-size: 20px;
  padding: 5px;
    margin: 1px;
}
.highest{
  display: flex;
}
.highest p{
  color: white;
  font-weight: bold;
 
  font-size: 20px;
  padding: 5px;
    margin: 1px;
 
}
.glow{
  animation: glow 1s ease-in-out infinite alternate;
  color: black;
  margin-top: -14px;
  font-size: 15px;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
.arrow_profile{
  position: absolute;
    right: 64px;
    bottom: 263px;
    font-weight: bold;
   
}
#logout{
  display: none;
  font-size: 20px;
  border: none;
  color: white;
  background-color: darkslateblue;
border-radius: 7px;
margin-bottom: 0.3em;
}
#dashboard{
  
  font-size: 20px;
  border: none;
  color: white;
  background-color: darkslateblue;
border-radius: 7px;
margin-bottom: 0.3em;
}
.profile-cart-img{
  border-radius: 100%;
    display: flex;
    margin-left: 24px;
}
#celebrate{
  bottom: 50%;
    right: 50%;
    display: none;
}
/*Stop below css belong to user profile cart on game page  */
.profile-format{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 15px;
  gap: 10px;
    align-items: center;
    margin-top: -110px;
    font-weight: 900;
    font-size: x-large;
}
.show_profile{
  display: none;
}
#show_profile img{
  border: 1px solid;
    border-radius: 30px;
    border-color: lightskyblue;
}
.image-holder{
  /* height: 90px;
  background-color: darkcyan;
  width: 100%;
  border-radius: 9px;
  display: flex;
  justify-content: center; */
  display: flex;
    flex-direction: column;
  object-fit:contain;
}
.image-holder  :first-child{
  margin-top: 7px;
  object-fit:contain;
}


.game-header p{
  font-weight: 900;
  font-size: 90px;
    width: 1286px;
    color: honeydew;
}

@media screen and ( max-width: 1200px ) {
  .game {
  bottom: 244px;
  }
  #game-over{
    top: 314px;
    left: 200px;
  }
  .theme-dog{
    width: 323px;
  }
  #score{
    top:8em

  }
  .profile-format{
    margin-top: 0px;
    position: absolute;
    right: 0;

  }
}
/* @media screen and ( max-width: 1500px ) {
  .game {
  bottom: 240px;
  }
  #cactus{
    left: 832px;
  }
} */
/* @media screen and ( max-width: 1300px ) {
  .game {
  bottom: 244px;
  }
  #game-over{
    top: 314px;
    left: 200px;
  }
  .theme-dog{
    width: 323px;
  }
  #score{
    top:8em

  }
  .profile-format{
    margin-top: 0px;
    position: absolute;
    right: 0;
    bottom: 315px;

  }
} */
 /* @media all and ( max-width: 1300px ) {
  .game {
  bottom: 192px;
  }
  .game-img{
    margin-top: 0px;
  }
 
} */
  @media all and ( max-width: 480px ) {
  .game {
  bottom: 192px;
  }
  .game-img{
    margin-top: 0px;
  }
 
}